.progress-bar-outer-container{
    width: 100%;
    height:30px;
    border: 1px solid black;
    border-radius:10px;
    overflow: hidden;
}
.progress-bar-inner-container{
   height: 100%;
   background-color: green;
}